<div class="armory-container">
  <div class="armory-header">
    <h2 class="armory-title">ARMERÍA</h2>
  </div>

  <div class="armory-content">
    <p class="armory-description">
      Has llegado a la armería de la nave. Aquí puedes conseguir suministros para tu supervivencia.
      Selecciona una opción:
    </p>

    <div class="options-container">
      <ng-container *ngIf="options && options.length > 0; else noOptions">
        <button *ngFor="let option of options" class="option-button" [disabled]="isLoading"
          (click)="onOptionSelect(option.id)">
          {{ option.texto }}
        </button>
      </ng-container>
      <ng-template #noOptions>
        <p class="no-options-message">No hay opciones disponibles en este momento.</p>
      </ng-template>
    </div>

    <div class="option-description" *ngIf="hoveredOption">
      {{ getOptionDescription(hoveredOption) }}
    </div>
  </div>

  <div class="armory-image">

  </div>
</div>